---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-repo-deployment
  namespace: gitea-repo
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: gitea-repo
  template:
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/role: 'gitea-repo'
        vault.hashicorp.com/agent-inject-secret-app.ini: 'internal/data/infra-test/gitea-repo'
        vault.hashicorp.com/agent-inject-secret-server.crt: 'internal/data/infra-test/merlin'
        vault.hashicorp.com/agent-inject-secret-server.key: 'internal/data/infra-test/merlin'
        vault.hashicorp.com/agent-pre-populate-only: "true"
        vault.hashicorp.com/agent-inject-perms-app.ini: "0400"
        vault.hashicorp.com/agent-inject-perms-server.crt: "0400"
        vault.hashicorp.com/agent-inject-perms-server.key: "0400"
        vault.hashicorp.com/agent-run-as-user: "1000"
        vault.hashicorp.com/agent-run-as-group: "1000"
        vault.hashicorp.com/agent-inject-template-app.ini: |  
          {{- with secret "internal/data/infra-test/gitea-repo" -}}  
          {{ .Data.data.app }}
          {{- end }}
        vault.hashicorp.com/agent-inject-template-server.crt: |  
          {{- with secret "internal/data/infra-test/merlin" -}}  
          {{ .Data.data.ServerCrt }}
          {{- end }}
        vault.hashicorp.com/agent-inject-template-server.key: |  
          {{- with secret "internal/data/infra-test/merlin" -}}  
          {{ .Data.data.ServerKey }}
          {{- end }}
      labels:
        app: gitea-repo
    spec:
      serviceAccount: gitea-repo
      imagePullSecrets:
      - name: huawei-swr-image-pull-secret
      containers:
      - name: gitea-build
        image: swr.cn-north-4.myhuaweicloud.com/opensourceway/gitea/gitea-build:v1.0.20240201091417
        imagePullPolicy: IfNotPresent
        args:
        - --config=/vault/secrets/app.ini
        resources:
          requests:
            cpu: "6"
            memory: 10000Mi
          limits:
            cpu: "6"
            memory: 10000Mi
        readinessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          httpGet:
            scheme: HTTPS
            path: /
            port: 3000
            httpHeaders:
            - name: "Host"
              value: "gitea.test.osinfra.cn"
          timeoutSeconds: 10
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          httpGet:
            scheme: HTTPS
            path: /
            port: 3000
            httpHeaders:
            - name: "Host"
              value: "gitea.test.osinfra.cn"
          timeoutSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 1000
        volumeMounts:
        - mountPath: /var/lib/gitea/
          name: data-volume
        - mountPath: /tmp/
          name: tmp-gitea-data-volume
      volumes:
      - name: data-volume
        persistentVolumeClaim:
          claimName: gitea-repo-data-volume
      - name: tmp-gitea-data-volume
        persistentVolumeClaim:
          claimName: tmp-gitea-data-volume
