resources:
- analysis.yaml
- dm.yaml
- eureka.yaml
- gateway.yaml
- api-gateway.yaml
- ingress.yaml
- sca-namespace.yaml
- secrets.yaml
- web.yaml
- rabbitmq.yaml
commonLabels:
  server: infrastructure-sca
commonAnnotations:
  email: xzq615@hotmail.com
  owner: xiaozhongqi
namespace: sca
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-analysis
  newTag: df4317c84d56efbd5c0cc081d13ea6d3f45abc1a
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-api-gateway
  newTag: 4fb24ea520f4b455e8a76ff04c8b2ebf289c174d
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-datamanager
  newTag: 3b7cddb3ecd3addba24f1d844da51738a4676723
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-eureka
  newTag: a6ff80c28a3b0d264b2f0e7491d3c1ad145e8e42
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-gateway
  newTag: bbf3f8d376530f30106d883e5123da3da94becf6
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/common/sca-web
  newTag: ee42878dc6e850d00e88b70a36904183cec267c3
